<mat-grid-list cols="12" rowHeight="5vh" gutterSize="0px">
  <mat-grid-tile [colspan]=12 [rowspan]=2>
    <span class="tile-container">
      <app-header></app-header>
    </span>
  </mat-grid-tile>
  
  <mat-grid-tile [colspan]=12 [rowspan]=16>
    <as-split direction="horizontal">
      <as-split-area [size]="15">
        <app-leftpane></app-leftpane>
      </as-split-area>
      
      <as-split-area [size]="70">
        <app-main></app-main>
      </as-split-area>
      
      <as-split-area [size]="15">
        <app-rightpane></app-rightpane>
      </as-split-area>
    </as-split>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=12 [rowspan]=2>
    <span class="tile-container">
      <app-footer></app-footer>
    </span>
  </mat-grid-tile>
</mat-grid-list>