.tags-input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.tag-item {
    margin: 2px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.tag-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.input-tag {
    border: none;
    outline: none;
    flex-grow: 1;
}