@tailwind base;
@tailwind components;
@tailwind utilities;

/* This styles the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* This styles the scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #4d4e51;
}

/* This styles the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    scrollbar-color: #888 #e0e0e0;
    scrollbar-width: thin;
}

.nb-icons{
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-right: 4px;
    background-repeat: no-repeat;
}

.nb-icon-label{
    position: relative;
    top: 32px;
}

.if{
    background-image: url('../images/icons/if.svg');
}

.schedule{

    background-image: url('../images/icons/schedule.svg');

}

.sleep{
    background-image: url('../images/icons/sleep.svg');
}

.start{
    background-image: url('../images/icons/start.svg');
}

.start-time{
    background-image: url('../images/icons/start-time.svg');
}

.stop{
    background-image: url('../images/icons/stop.svg');
}

.switch{
    background-image: url('../images/icons/switch.svg');
}

.webhook{
    background-image: url('../images/icons/webhook.svg');
}

.exception{
    background-image: url('../images/icons/exception.svg');
}

.database{
    background-image: url('../images/icons/database.svg');
}

.gmail-receive{
    background-image: url('../images/icons/gmail-receive.svg');
}

.gmail-send{
    background-image: url('../images/icons/gmail-send.svg');
}

.trello-add-card{
    background-image: url('../images/icons/trello-add-card.svg');
}

.trello-remove-card{
    background-image: url('../images/icons/trello-remove-card.svg');
}

.link{
    background-image: url('../images/icons/link.svg');
}

.api{
    background-image: url('../images/icons/api.svg');
}
