.project-pane, .structure-pane {
    max-height: 300px; /* Altura máxima dos painéis */
}

.add-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 20px;
    color: white;
    background: #373C49;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px 10px 5px 5px;
}

.add-tab:hover {
    background: #6DA0FE;
}
