/* QuickAccessBar.css */
.quick-access-bar {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-container {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  position: relative;
}

.icon-area {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  left: 100%; /* Posicionado diretamente ao lado do ícone */
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 0;
  transition: width 0.1s ease, opacity 0.1s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border-radius: 10px;
  margin-left:10px;
}

.icon-area:hover .overlay,
.icon-area:focus .overlay {
  width: 100px; /* Largura fixa do overlay para não ultrapassar a largura da barra */
  z-index: 1;
}

.overlay .text {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.icon-area:hover .overlay .text,
.icon-area:focus .overlay .text {
  opacity: 1;
}