.tabs-container {
    margin-top: 0; /* Adjusted to match your design */
    overflow-x: hidden;
  }
  
  .tabs-wrapper {
    display: flex;
  
    background: #2B2F3A; /* Color of your tab background */
    padding: 0; /* Adjusted to match your design */
  }
  
  .tab {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px; /* Adjusted to match your design */
    margin-right: 0; /* Adjusted to match your design */
    font-size: 12px; /* Adjusted to match your design */
    color: white; /* Text color */
    background: #3F4451; /* Non-active tab background */
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  .tab.active-tab {
    background: #32363E; /* Active tab background */
  }
  
  .tab:not(.active-tab):hover {
    background: #373C49; /* Hover state for non-active tabs */
  }
  
  .tab.active-tab::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Coloca o pseudo-elemento na parte inferior da aba */
    width: 100%;
    height: 2px;
    background-color: #4fa0f8; /* Cor do indicador */
  }
  
  .close-btn {
    margin-left: 8px;
    color: #F56565;
    cursor: pointer;
    font-size: x-small;
  }
  
  .add-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px; /* Adjusted to match your design */
      height: 24px; /* Adjusted to match your design */
      font-size: 20px; /* Adjusted to match your design */
      color: white; /* Text color */
      background: #373C49; /* Color of your add button */
      border-radius: 50%; /* To make it round */
      cursor: pointer;
      margin: 5px 10px 5px 5px;
  }
  
  .add-tab:hover {
      background: #6DA0FE;
  }