body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* This styles the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* This styles the scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #4d4e51;
}

/* This styles the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    /*scrollbar-color: #888 #e0e0e0;*/
    scrollbar-width: thin;
}

::-webkit-scrollbar-corner {
    background-color: rgb(43 45 48 / var(--tw-bg-opacity)); /* Ajuste para a cor de fundo correspondente */
}

.nb-icons{
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-right: 4px;
    background-repeat: no-repeat;
}

.nb-icon-label{
    position: relative;
    top: 32px;
}

.if{
    background-image: url('./assets/images/icons/components/16w/if@16w.png');
}

.schedule{

    background-image: url('./assets/images/icons/components/16w/schedule@16w.png');

}

.sleep{
    background-image: url('./assets/images/icons/components/16w/sleep@16w.png');
}

.start{
    background-image: url('./assets/images/icons/components/16w/start@16w.png');
}

.stop{
    background-image: url('./assets/images/icons/components/16w/stop@16w.png');
}

.switch{
    background-image: url('./assets/images/icons/components/16w/switch@16w.png');
}

.webhook{
    background-image: url('./assets/images/icons/components/16w/webhook@16w.png');
}

.exception{
    background-image: url('./assets/images/icons/components/16w/exception@16w.png');
}

.query{
    background-image: url('./assets/images/icons/components/16w/query@16w.png');
}

.gmail-receive{
    background-image: url('./assets/images/icons/components/16w/gmail-receive@16w.png');
}

.gmail-send{
    background-image: url('./assets/images/icons/components/16w/gmail-send@16w.png');
}

.trello-add-card{
    background-image: url('./assets/images/icons/components/16w/trello-add-card@16w.png');
}

.trello-remove-card{
    background-image: url('./assets/images/icons/components/16w/trello-remove-card@16w.png');
}

.link{
    background-image: url('./assets/images/icons/components/16w/link@16w.png');
}

.api{
    background-image: url('./assets/images/icons/components/16w/api@16w.png');
}

.bash{
    background-image: url('./assets/images/icons/components/16w/bash@16w.png');
}

.javascript{
    background-image: url('./assets/images/icons/components/16w/javascript@16w.png');
}



.qm-icons{
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #e5e7eb;

}

.elements{
    background-image: url('./assets/images/icons/quick-menu/32w/elements@32w.png');
    width: 28px;
}

.frames{
    background-image: url('./assets/images/icons/quick-menu/32w/frames@32w.png');
    width: 25px;
}

.integrations{
    background-image: url('./assets/images/icons/quick-menu/32w/integrations@32w.png');
    width: 26px;
}

.run{
    background-image: url('./assets/images/icons/quick-menu/32w/run@32w.png');
    width: 26px;
}

.config{
    background-image: url('./assets/images/icons/quick-menu/32w/config@32w.png');
    width: 26px;
}

.database{
    background-image: url('./assets/images/icons/quick-menu/32w/database@32w.png');
    width: 24px;
}


.logo{
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    color: #e5e7eb;
    background-image: url('./assets/images/icons/logo.svg');
}

.logo-welcome{
    width: 128px;
    height: 128px;
    background-image: url('./assets/images/icons/logo.svg');
    margin-top: 10px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}